   h1{
        color:purple;
        font-size: 70px; 
    }

    #BRUTALESH
    {
        background-color: chartreuse;
        text-align: center;
    }

    #Logo_Banda
    {
        width: 900px;
        height: 350px;
        
    }

    .imagenes
/*    {
        border: 10px solid orangered;
        border-radius: 50px;
    }
*/
    #menuPpal>a
    {
        font-size: 70px;
        text-decoration: none;
        color: darkgreen;
    }
    #menu2>a
    {
        font-size: 60px;
        color: orange;
    }

    h1 ~ p
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        text-decoration: none;
        color: darkred;
    }

    h3
    {
        font-size: 25px;
        font-family:cursive ;
    }
    .parraItalica
    {
        font-style: italic;
    }
    #fondoCabeza 
    {
        height: 450px;
        width: 100%;
        border: 2px solid black;
        background-color: #520120;
        text-align: center;

       
    }
     #header
     {
        box-sizing: border-box;
        margin: 0px;
        border: 0px;
     }

    